@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);

  --neutral-dark-blue: hsl(212, 21%, 14%);
  --neutral-grayish-blue: hsl(228, 12%, 48%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-fraunces: 'Fraunces', serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-size: 14px;
  background-color: var(--primary-cream);
  height: 98vh;
  width: 100vw;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_card {
  display: flex;
  flex-direction: column;
  font-family: var(--font-montserrat);
  color: var(--neutral-grayish-blue);
  background-color: var(--neutral-white);
  border-radius: 10px;
  width: 340px;
  overflow: hidden;

  @media screen and (min-width: 991px) {
    flex-direction: row;
    width: 550px;
  }
}

.product_image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .image_mobile {
    display: block;
  }

  .image_desktop {
    display: none;
  }

  @media screen and (min-width: 991px) {
    flex-direction: row;
    width: 50%;

    .image_mobile {
      display: none;
    }

    .image_desktop {
      display: block;
    }
  }
}

.product_info {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  @media screen and (min-width: 991px) {
    width: 50%;
  }
}

.product_section {
  font-weight: 500;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.product_name {
  font-family: var(--font-fraunces);
  font-size: 2em;
  color: var(--neutral-dark-blue);
  font-weight: 700;
}

.product_description {
  line-height: 1.5em;
}

.product_price {
  display: flex;
  align-items: center;
  gap: 25px;
}

.discount_price {
  font-size: 2em;
  font-family: var(--font-fraunces);
  font-weight: 700;
  color: var(--primary-dark-cyan)
}

.full_price {
  text-decoration: line-through;
}

.cart_button {
  border-radius: 10px;
  height: 3em;
  border: none;
  background-color: var(--primary-dark-cyan);
  color: var(--neutral-white);
  font-weight: 700;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.cart_button:hover {
  transition: 0.5s;
  background-color: var(--neutral-dark-blue);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}